<div class="container topbar-patrocionadora">
    <div class="row">
        <div class="col-sm-6">
            Patrocinadora: <strong>Ferrovia Centro-Atlântica S.A.</strong>
        </div>
        <div class="col-sm-6 text-right align-middle">
            <span class="badge badge-pill badge-light user">Geovane Carmo <i class="fa fa-user"></i></span>
        </div>
    </div>
</div>

<div class="navbar navbar-top navbar-expand-lg navbar-default bg-primary">
    <div class="container">
        <div class="col-12 col-sm-12 col-md-auto logo">
            <img src="./assets/img/logo.png" class="img-responsive" />
        </div>
        <div class="col-sm-10 nome-sistema text-sm-left">
            Portal de Administração de Arquivos
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light menu">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Upload de Arquivos</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                Remessa Nº&nbsp; <input class="form-control mr-sm-2" type="number" placeholder="Pesquisar remessa">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">OK</button>
            </form>
        </div>
    </div>
</nav>


<div class="container-fluid">

    <h1>Análise de Arquivos - Remessa Nº 0145 <button class="btn btn-secondary btn-sm float-right mt-3">Voltar</button>
    </h1>

    Arquivo<h3>0055-CADASTRO-201910260951.TXT</h3>
    <div class="table-responsive">
        <table class="table table-edita-dados">
            <thead>
                <tr class="table-active">
                    <th scope="col"> NÚMERO DO GRUPO </th>
                    <th scope="col"> CÓDIGO DA EMPRESA </th>
                    <th scope="col"> NUMERO DO REGISTRO DO EMPREGADO </th>
                    <th scope="col"> NOME DO EMPREGADO </th>
                    <th scope="col"> CPF DO EMPREGADO </th>
                    <th scope="col"> CARTEIRA DE IDENTIDADE DO EMPREGADO </th>
                    <th scope="col"> ÓRGÃO EXPEDIDOR DA CARTEIRA DE IDENTIDADE </th>
                    <th scope="col"> ÓRGÃO DE LOTAÇÃO </th>
                    <th scope="col"> DATA DE NASCIMENTO DO EMPREGADO </th>
                    <th scope="col"> SITUAÇÃO DO EMPREGADO NO PATROCINADOR </th>
                    <th scope="col"> CÓDIGO DO ESTADO CIVIL DO EMPREGADO </th>
                    <th scope="col"> NOME DO PAI DO EMPREGADO </th>
                    <th scope="col"> NOME DA MÃE DO EMPREGADO </th>
                    <th scope="col"> CÓDIGO DO SEXO DO EMPREGADO </th>
                    <th scope="col"> ENDEREÇO DO EMPREGADO </th>
                    <th scope="col"> BAIRRO DO EMPREGADO </th>
                    <th scope="col"> CIDADE DO EMPREGADO </th>
                    <th scope="col"> UF DO EMPREGADO </th>
                    <th scope="col"> CEP DO EMPREGADO </th>
                    <th scope="col"> DDD DO EMPREGADO </th>
                    <th scope="col"> TELEFONE DO EMPREGADO </th>
                    <th scope="col"> DATA DE INSCRIÇÃO NA FUNDAÇÃO </th>
                    <th scope="col"> BANCO DO EMPREGADO </th>
                    <th scope="col"> AGÊNCIA DO EMPREGADO </th>
                    <th scope="col"> CONTA CORRENTE DO EMPREGADO </th>
                    <th scope="col"> NACIONALIDADE DO EMPREGADO </th>
                    <th scope="col"> RAMAL DO EMPREGADO </th>
                    <th scope="col"> SALÁRIO DO EMPREGADO </th>
                    <th scope="col"> CORREIO ELETRONICO </th>
                    <th scope="col"> CELULAR DO EMPREGADO </th>
                    <th scope="col"> DDD CELULAR </th>
                    <th scope="col"> DATA DE ADMISSÃO </th>
                    <th scope="col"> DATA DE AFASTAMENTO </th>
                    <th scope="col"> DATA DE INÍCIO DA ALTERAÇÃO DA SITUAÇÃO </th>
                    <th scope="col"> DATA DE DEMISSÃO </th>
                    <th scope="col"> DATA DE DESLIGAMENTO DO PLANO </th>
                    <th scope="col"> CÓDIGO DO MOTIVO DA DEMISSÃO </th>
                    <th scope="col"> DATA DO ÓBITO </th>
                    <th scope="col"> CÓDIGO DE CONFIDENCIALIDADE </th>
                    <th scope="col"> CÓDIGO DE CONTRATO DE TRABALHO </th>
                    <th scope="col"> CÓDIGO ESTRUTURAL DO EMPREGADO – UNIORG </th>
                    <th scope="col"> DATA DE EXPEDIÇÃO DA CARTEIRA DE IDENTIDADE </th>
                    <th scope="col"> PERCENTUAL DE CONTRIBUIÇÃO </th>
                    <th scope="col"> NÚMERO DO PLANO </th>
                    <th scope="col"> CONTRIBUIÇÃO ESPORÁDICA </th>
                    <th scope="col"> DATA INÍCIO </th>
                    <th scope="col"> DATA FIM </th>
                    <th scope="col"> LIVRE </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of ' '.repeat(1).split('')">
                    <td> <input type="text" class="form-control" value="154" /></td>
                    <td> <input type="text" class="form-control" value="1545" /></td>
                    <td> <input type="text" class="form-control" value="545744" /></td>
                    <td> <input type="text" class="form-control" value="GEOVANE CARMO" /></td>
                    <td> <input type="text" class="form-control" value="1234567890" /></td>
                    <td> <input type="text" class="form-control" value="111430448" /></td>
                    <td> <input type="text" class="form-control" value="DETRAN" /></td>
                    <td> <input type="text" class="form-control" value="" /></td>
                    <td> <input type="text" class="form-control" value="31322" /></td>
                    <td> <input type="text" class="form-control" value="1" /></td>
                    <td> <input type="text" class="form-control" value="" /></td>
                    <td> <input type="text" class="form-control" value="JOAO SANTOS" /></td>
                    <td> <input type="text" class="form-control" value="MARIA SANTOS" /></td>
                    <td> <input type="text" class="form-control" value="1" /></td>
                    <td> <input type="text" class="form-control" value="AV DAS AMERICAS, 4000" /></td>
                    <td> <input type="text" class="form-control" value="BARRA DA TIJUCA" /></td>
                    <td> <input type="text" class="form-control" value="RIO DE JANEIRO" /></td>
                    <td> <input type="text" class="form-control" value="RJ" /></td>
                    <td> <input type="text" class="form-control" value="22933000" /></td>
                    <td> <input type="text" class="form-control" value="21" /></td>
                    <td> <input type="text" class="form-control" value="42456655" /></td>
                    <td> <input type="text" class="form-control" value="03/01/2019" /></td>
                    <td> <input type="text" class="form-control" value="237" /></td>
                    <td> <input type="text" class="form-control" value="3636" /></td>
                    <td> <input type="text" class="form-control" value="39435" /></td>
                    <td> <input type="text" class="form-control" value="BRASILEIRO" /></td>
                    <td> <input type="text" class="form-control" value="" /></td>
                    <td> <input type="text" class="form-control" value="5000" /></td>
                    <td> <input type="text" class="form-control" value="GEOVANE.CARMO@VALIA.COM.BR" /></td>
                    <td> <input type="text" class="form-control" value="21" /></td>
                    <td> <input type="text" class="form-control" value="99886666" /></td>
                    <td> <input type="text" class="form-control" value="20/12/2020" /></td>
                    <td> <input type="text" class="form-control" value="" /></td>
                    <td> <input type="text" class="form-control" value="" /></td>
                    <td> <input type="text" class="form-control" value="" /></td>
                    <td> <input type="text" class="form-control" value="" /></td>
                    <td> <input type="text" class="form-control" value="" /></td>
                    <td> <input type="text" class="form-control" value="" /></td>
                    <td> <input type="text" class="form-control" value="32" /></td>
                    <td> <input type="text" class="form-control" value="55487" /></td>
                    <td> <input type="text" class="form-control" value="" /></td>
                    <td> <input type="text" class="form-control" value="" /></td>
                    <td> <input type="text" class="form-control" value="5" /></td>
                    <td> <input type="text" class="form-control" value="156458" /></td>
                    <td> <input type="text" class="form-control" value="" /></td>
                    <td> <input type="text" class="form-control" value="" /></td>
                    <td> <input type="text" class="form-control" value="" /></td>
                    <td> <input type="text" class="form-control" value="" /></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>