<div class="navbar navbar-expand-lg navbar-default bg-primary">
    <div class="container">
        <div class="col-auto logo">
            <img src="./assets/img/logo.png" />
        </div>
        <div class="col-auto text-center nome-sistema">
            Portal de Administração de Arquivos
        </div>
        <div class="text-right">
            <i class="fa fa-user-circle user"></i>
        </div>

    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h4 class="card-title float-left">API</h4>
                    <i class="fa fa-code float-right"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h4 class="card-title float-left">Layout Valia</h4>
                    <i class="fa fa-list-alt float-right"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h4 class="card-title float-left">Layout Personalizado</h4>
                    <i class="fa fa-user-edit float-right"></i>
                </div>
            </div>
        </div>
    </div>



    <h1 class="pt-3">API</h1>
    <form>
        <fieldset class="form-table">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">URL:</label>
                <div class="col-sm-10">
                    <input type="text" readonly="" class="form-control-plaintext" id="staticEmail"
                        value="https://api.valia.com.br/dados/envio">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Método:</label>
                <div class="col-sm-10">
                    <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="POST">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Arquivo modelo:</label>
                <pre>
                        <table>
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            </tr>
                            <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            </tr>
                            <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                            </tr>
                        </tbody>
                        </table>
                    </pre>
            </div>
        </fieldset>
    </form>









    <h1 class="pt-3">Layout Valia</h1>
    <form>
        <fieldset class="form-table">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Arquivo Cadastro:</label>
                <div class="col-sm-9">
                    <input type="file" readonly="" class="form-control-plaintext">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Arquivo Beneficiários:</label>
                <div class="col-sm-9">
                    <input type="file" readonly="" class="form-control-plaintext">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Arquivo IN26:</label>
                <div class="col-sm-9">
                    <input type="file" readonly="" class="form-control-plaintext">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Arquivo de Arrecadação:</label>
                <div class="col-sm-9">
                    <input type="file" readonly="" class="form-control-plaintext">
                </div>
            </div>

            <div class="text-center pt-3">
                <button class="btn btn-primary">Enviar Arquivos</button>
            </div>

        </fieldset>
    </form>








    <h1 class="pt-3">Layout Personalizado</h1>
    <form>
        <fieldset class="form-table">

            <div class="form-group row">
                <label class="col-sm-9 col-form-label">Arquivo de Cadastro</label>
                <label class="col-sm-3 col-form-label">Layout</label>
                <div class="col-sm-9">
                    <input type="file" readonly="" class="form-control-plaintext">
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Criar Layout</button>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-9 col-form-label">Arquivo de Beneficiários</label>
                <label class="col-sm-3 col-form-label">Layout</label>
                <div class="col-sm-9">
                    <input type="file" readonly="" class="form-control-plaintext">
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Editar Layout</button>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-9 col-form-label">Arquivo IN26</label>
                <label class="col-sm-3 col-form-label">Layout</label>
                <div class="col-sm-9">
                    <input type="file" readonly="" class="form-control-plaintext">
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Editar Layout</button>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-9 col-form-label">Arquivo IN26</label>
                <label class="col-sm-3 col-form-label">Layout</label>
                <div class="col-sm-9">
                    <input type="file" readonly="" class="form-control-plaintext">
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Editar Layout</button>
                </div>
            </div>

            <div class="text-center pt-3">
                <button class="btn btn-primary">Enviar Arquivos</button>
            </div>

        </fieldset>
    </form>








    <h1 class="pt-3">Configurar Layout - Cadastro</h1>

    <form>
        <fieldset class="form-table">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label text-center">Meu Layout</label>
                <label class="col-sm-6 col-form-label text-center">Layout Valia</label>

                <div class="col-sm-6">
                    <select class="form-control">
                        <option selected>Selecione</option>
                        <option value="Campo1">Campo 1</option>
                    </select>
                </div>

                <div class="col-sm-6">
                    <select class="form-control">
                        <option selected>Selecione</option>
                        <option value="Campo1">Campo 1</option>
                    </select>
                </div>
            </div>

            <div class="text-center pt-3 mb-4">
                <button class="btn btn-primary">Relacionar</button>
            </div>
        </fieldset>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
        </tbody>
    </table>











</div>