<div class="body-login">
    <div class="container">
        <div class="row justify-content-md-center">

            <div class="card-login col-12 col-md-6">
                <div class="card bg-light">
                    <div class="card-header ">
                        <img src="./assets/img/logo.png" alt="Valia" />
                        <p>Portal de Administrção de Arquivos</p>
                    </div>
                    <div class="card-body">
                        <form action="senha.asp">
                            <fieldset>
                                <div class="form-group">
                                    <label for="cnpj">Login</label>
                                    <input type="text" class="form-control" name="login" id="login">
                                </div>
                                <div class="form-group">
                                    <label for="cnpj">Senha</label>
                                    <input type="text" class="form-control" name="senha" id="senha">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary" (click)="irDashboard()">Entrar</button>&nbsp;&nbsp;<button
                                        class="btn btn-lg btn-info">Cadastre-se</button>
                                </div>
                                <div class="form-group">
                                    <a href="#">Esqueci minha senha</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>