<div class="container topbar-patrocionadora">
    <div class="row">
        <div class="col-sm-6">
            Patrocinadora: <strong>Ferrovia Centro-Atlântica S.A.</strong>
        </div>
        <div class="col-sm-6 text-right align-middle">
            <span class="badge badge-pill badge-light user">Geovane Carmo <i class="fa fa-user"></i></span>
        </div>
    </div>
</div>

<div class="navbar navbar-top navbar-expand-lg navbar-default bg-primary">
    <div class="container">
        <div class="col-12 col-sm-12 col-md-auto logo">
            <img src="./assets/img/logo.png" class="img-responsive" />
        </div>
        <div class="col-sm-10 nome-sistema text-sm-left">
            Portal de Administração de Arquivos
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light menu">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/dashboard']">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/api']">Upload de Arquivos</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                Remessa Nº&nbsp; <input class="form-control mr-sm-2" type="number" placeholder="Pesquisar remessa">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">OK</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">

    <h1>Upload de Arquivos <button class="btn btn-secondary btn-sm float-right mt-3">Voltar</button></h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card card-over text-white bg-primary mb-3" (click)="irAPI()">
                <div class="card-body">
                    <h4 class="card-title float-left">API</h4>
                    <i class="fa fa-code float-right"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-over text-white bg-primary mb-3" (click)="irLayoutValia()">
                <div class="card-body">
                    <h4 class="card-title float-left">Layout Valia</h4>
                    <i class="fa fa-list-alt float-right"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-over text-white bg-primary mb-3 card-active">
                <div class="card-body">
                    <h4 class="card-title float-left">Layout Personalizado</h4>
                    <i class="fa fa-user-edit float-right"></i>
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="step === 1">
        <h2 class="pt-3">Layout Personalizado</h2>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
            <fieldset class="form-table">
                <div class="form-group row">
                    <label class="col-sm-9 col-form-label">Arquivo de Empregados</label>
                    <label class="col-sm-3 col-form-label">Layout</label>
                    <div class="col-sm-9">
                        <input #empregadosInput type="file" accept=".csv" name="empregados" [(ngModel)]="empregados"
                            (change)="onFileSelect($event.target)" readonly="" class="form-control-plaintext">
                    </div>
                    <div class="col-sm-3">
                        <button *ngIf="!verificarExistenciaTemplate(1)" class="btn btn-sm btn-success"
                            (click)="setStep(2, 1, 'criar')" [disabled]="!empregados"><i
                                class="fa fa-plus"></i>
                            Criar
                            Layout</button>
                        <button *ngIf="verificarExistenciaTemplate(1)" class="btn btn-sm btn-primary"
                            (click)="setStep(2, 1, 'editar')" [disabled]="!empregados"><i
                                class="fa fa-edit"></i>
                            Editar
                            Layout</button>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-9 col-form-label">Arquivo de Dependentes</label>
                    <label class="col-sm-3 col-form-label">Layout</label>
                    <div class="col-sm-9">
                        <input #dependentesInput type="file" accept=".csv" name="dependentes" [(ngModel)]="dependentes"
                            (change)="onFileSelect($event.target)" readonly="" class="form-control-plaintext">
                    </div>
                    <div class="col-sm-3">
                        <button *ngIf="!verificarExistenciaTemplate(2)" class="btn btn-sm btn-success"
                            (click)="setStep(2, 2, 'criar')" [disabled]="!dependentes"><i
                                class="fa fa-plus"></i>
                            Criar
                            Layout</button>
                        <button *ngIf="verificarExistenciaTemplate(2)" class="btn btn-sm btn-primary"
                            (click)="setStep(2, 2, 'editar')" [disabled]="!dependentes"><i
                                class="fa fa-edit"></i> Editar
                            Layout</button>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-9 col-form-label">Arquivo IN26</label>
                    <label class="col-sm-3 col-form-label">Layout</label>
                    <div class="col-sm-9">
                        <input #in26Input type="file" accept=".csv" name="in26" [(ngModel)]="in26"
                            (change)="onFileSelect($event.target)" readonly="" class="form-control-plaintext">
                    </div>
                    <div class="col-sm-3">
                        <button *ngIf="!verificarExistenciaTemplate(4)" class="btn btn-sm btn-success"
                            (click)="setStep(2, 4, 'criar')" [disabled]="!in26"><i class="fa fa-plus"></i>
                            Criar
                            Layout</button>
                        <button *ngIf="verificarExistenciaTemplate(4)" class="btn btn-sm btn-primary"
                            (click)="setStep(2, 4, 'editar')" [disabled]="!in26"><i class="fa fa-edit"></i>
                            Editar
                            Layout</button>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-9 col-form-label">Arquivo de Arrecadação</label>
                    <label class="col-sm-3 col-form-label">Layout</label>
                    <div class="col-sm-9">
                        <input #arrecadacaoInput type="file" accept=".csv" name="arrecadacao" [(ngModel)]="arrecadacao"
                            (change)="onFileSelect($event.target)" readonly="" class="form-control-plaintext">
                    </div>
                    <div class="col-sm-3">
                        <button *ngIf="!verificarExistenciaTemplate(3)" class="btn btn-sm btn-success"
                            (click)="setStep(2, 3, 'criar')" [disabled]="!arrecadacao"><i
                                class="fa fa-plus"></i>
                            Criar
                            Layout</button>
                        <button *ngIf="verificarExistenciaTemplate(3)" class="btn btn-sm btn-primary"
                            (click)="setStep(2, 3, 'editar')" [disabled]="!arrecadacao"><i
                                class="fa fa-edit"></i>
                            Editar
                            Layout</button>
                    </div>
                </div>

                <div class="row-button">
                    <button class="btn btn-primary btn-lg" type="submit">Submeter Arquivos</button>
                </div>

            </fieldset>
        </form>
    </ng-container>

    <ng-container *ngIf="step === 2">
        <h1 class="pt-3">Configurar Layout - Cadastro</h1>

        <fieldset class="form-table">
            <div class="form-group row">
                <label class="col-sm-5 col-form-label text-center">Meu Layout <span class="badge badge-pill"
                        [ngClass]="{'badge-info' : headers.length, 'badge-success' : !headers.length}">{{!headers.length ? 'OK' : headers.length}}</span></label>
                <label class="col-sm-5 col-form-label text-center">Layout Valia <span class="badge badge-pill"
                        [ngClass]="{'badge-info' : listaLayoutValia.length, 'badge-success' : !listaLayoutValia.length}">{{!listaLayoutValia.length ? 'OK' : listaLayoutValia.length}}</span></label>
                <label class="col-sm-2 col-form-label text-center"></label>

                <div class="col-sm-5 text-center">
                    <select class="form-control" [(ngModel)]="layout_patrocinador">
                        <option [value]="0">Selecionar</option>
                        <option [value]="item" *ngFor="let item of headers">{{item}}</option>
                    </select>
                    <i class="fa fa-arrow-down arrow-down-combo" *ngIf="lista.length"></i>
                </div>
                <div class="col-sm-5 text-center">
                    <select class="form-control" [(ngModel)]="layout_valia">
                        <option [value]="0">Selecionar</option>
                        <option [value]="item.id" *ngFor="let item of listaLayoutValia">{{formatarLabel(item.id)}}
                        </option>
                    </select>
                    <i class="fa fa-arrow-down arrow-down-combo" *ngIf="lista.length"></i>
                </div>
                <div class="col-sm-2 text-center">
                    <button class="btn btn-primary" (click)="relacionar()"
                        [disabled]="!layout_valia || !layout_patrocinador">Relacionar</button>
                </div>
            </div>
        </fieldset>

        <div class="row row-border" *ngFor="let item of lista">
            <div class="col-sm-5 text-center">
                {{item.layout_patrocinador}}
            </div>
            <div class="col-sm-5 text-center">
                {{formatarLabel(item.layout_valia)}}
            </div>
            <div class="col-sm-2 text-center">
                <i class="fa fa-trash-alt text-danger ico-trash" title="Excluir" (click)="remover(item)"></i>
            </div>
        </div>

        <div class="row-button">
            <button class="btn btn-primary btn-lg" (click)="criarLayout()" [disabled]="listaLayoutValia.length">Criar
                Layout</button>
        </div>
    </ng-container>
</div>