@import "~bootswatch/dist/yeti/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/yeti/bootswatch";

html {
    height: 100%;
}

body {
    height:100%;
    min-height: 100%;
    margin:0px;
    padding:0px;
    height:100%;
}

h1 {
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc !important;
    color: #00418e; 
}

h2 {
    color: #00418e; 
}

.btn-primary {
    color: #fff;
    /*background-color: #003f8e;*/
    border-color: #5f7fb5;	
}

.logo {
	background-color: #FFF;
	margin: 0;
    padding: 15px 20px;
}

.navbar-top {
    border-top: 8px solid #00418e;
	padding: 0;	
}

.card .card-body .fa {
    font-size: 45px;
    opacity: 0.5;
}

.card .card-body .number-counter {
    font-size: 45px;
    opacity: 0.5;
}

.card-over:hover {
	box-shadow: 3px 3px 10px #000;
	cursor: pointer;
	transition: all 0.3s;
    transform: scale(1.02);
    background-color: #00418e !important;
}

.card-over:hover .card-body .fa {
    opacity: 1;
    transition: all 0.3s;
}

.card-no-link:hover {
    border: 1px solid #008cba;
}

.user {
   font-size: 13px;
   margin-left: 10px;
   color: #008cba !important;
   padding: 6px 15px;
   cursor: pointer;
}

.nome-sistema {
    color: #FFF;
    font-size: 26px;
}

.form-table .row {
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
}

.form-table .row:last-child {
    border-bottom: 0;
    padding-bottom: 10px;
}

.form-table label {
    font-weight: bold;
}

.bg-active {
    background-color: #CCC;
}

.bg-light {
    background-color: #f5f5f5;
}

.ico-trash {
    font-size: 25px;
    cursor: pointer;
}

.row-border {
    border-bottom: 1px solid #CCC;
    padding: 10px 0;
}

.row-border:hover {
    background-color: #e0e0e0;
}

.row-border:first-child {
    border-top: 1px solid #CCC;
}

.arrow-down-combo {
    font-size: 20px;
    color: #999;
    margin: 20px 0 0 0;
}

.row-button {
    margin: 40px;
    text-align: center;
}

div {
    /*border: 1px solid red;*/
}

.topbar-patrocionadora {
    font-size: 13px;
    padding: 10px;
}

.badge-light {
    color: #222;
    background-color: #e0e0e0;
}

.card-login {
    margin-top: 20%;
}

.menu {
    text-transform: uppercase;
    margin-bottom: 50px;
    box-shadow:  5px 5px 5px #CCC;
    padding: 0;
}

.menu .navbar-nav .nav-item .nav-link {
    color: #333;
    padding: 15px 15px;
}

.menu .navbar-nav .nav-item .nav-link:hover {
    padding: 15px 15px;
    color: #FFF;
    background-color: #00418e;
}